doctype html
html(lang="en")
    head
        block title
            title= title
        meta(name='viewport', content="width=device-width, initial-scale=1")
        include meta.html
        link(rel="shortcut icon", href="/static/icon32.png")
        link(rel="apple-touch-icon", href="/static/icon512.png")
        link(rel="stylesheet", href="/static/styles.css")
        include tracking/google-analytics.html
            
    body
        block content
        script(src='/static/bundle.js')
        include tracking/quantcast.html
