extends html.pug

block title
    title Left Goat: Inspirational Web Experiences

block content
    include components/first-look.pug
    include components/navbar.pug
    include components/who-we-are.pug
    include components/services.pug
    include components/the-difference.pug
    include components/team.pug
    include components/our-work.pug
    include components/footer.pug
    include components/contact-form.pug
