/*
*   First Look styles
*/

#first-look {
    
    position: relative;
    height: calc(100vh - 4em);
    padding: 0 4em;
    background-size: cover;
    background-position: center;

    & .contact-info {
        
        display: flex;
        position: absolute;
        top: 50%;
        left: 0;
        padding: 1.5em 10em;
        transform: translateX(-50%) translateY(-50%) rotate(-90deg) translateY(50%);
        text-shadow: 0 0 2px black;
        border-bottom: 0.5px solid white;
        font-size: .8em;
        color: white;
        letter-spacing: 2.5px;
        text-transform: uppercase;
        z-index: 1;
    
        & a {
            
            padding: 0 1.5em;
            line-height: 1;

            &:first-child {
                border-right: 1px solid white;
            }

        }

    }

    & .fluid-container {

        height: 100%;

        & .columns {

            height: 100%;
            margin: 0;

            @media (max-width: 768px) {
                padding: 1em;
            }

            & .introduction {
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: rgba(0, 0, 0, .5);
                padding: 1.5em;
                color: white;
                font-weight: 400;
                letter-spacing: .05em;

                & h1 {
                    font-size: 3em;
                    font-weight: 400;
                    margin-bottom: .5em;
                }
            
                & .claw {

                    position: relative;
                    bottom: 7em;
                    right: 2em;
                    height: 10em;
                    width: 3.125em;
                    margin-bottom: -10em;

                    & line {

                        stroke: var(--green);
                        stroke-width: 4px;

                        &:last-child {
                            stroke-width: 2px;
                        }

                    }

                }

                @media (min-width: 601px) and (max-width: 1000px) {
                    font-size: .9em;
                }

                @media (max-width: 768px) {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    padding-left: 5em;
                    padding-right: 5em;
                }

                @media (max-width: 500px) {
                    font-size: .9em;
                    padding-left: 4em;
                    padding-right: 1em;
                }

            }

            & .definition-card {
                
                margin-top: 3em;
                margin-bottom: 6em;
                padding: 2em;
                background-color: color(var(--dark-white) alpha(.95));
                box-shadow: 0 0 10px color(black alpha(.25));
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: var(--light-black);
            
                & img {
                    width: 60%;
                    margin: 4em 0;
                }

                & .continue-button {
                    
                    margin: 2em 0;
                    border: 2px solid var(--green);
                    padding: 1em 2em;
                    color: var(--green);
                    text-transform: uppercase;
                    font-weight: 600;
                    letter-spacing: .15em;
                    transition: color .2s, background-color .2s;

                    &:hover {
                        color: white;
                        background-color: var(--green);
                        cursor: pointer;
                    }

                }

                @media (max-width: 768px) {
                    display: none;
                    position: fixed;
                    top: 1em;
                    right: 1em;
                    bottom: 1em;
                    left: 1em;
                    margin: 0;
                    z-index: 2;
                    background-color: var(--dark-white);
                }

            }

        }

    }

}
