#first-look {
    
    position: relative;
    height: calc(100vh - 5em);
    padding-top: 0;
    padding-bottom: 0;

    .contact-info {
        
        display: flex;
        position: absolute;
        top: 50%;
        left: 0;
        padding: 1.5em 10em;
        transform: translateX(-50%) translateY(-50%) rotate(-90deg) translateY(50%);
        text-shadow: 0 0 2px black;
        border-bottom: 0.5px solid white;
        font-size: .8em;
        color: $white;
        letter-spacing: 2.5px;
        text-transform: uppercase;
        z-index: 1;
    
        a {
            
            padding: 0 1.5em;
            line-height: 1;

            &:first-child {
                border-right: 1px solid $white;
            }

        }

    }

    
    .container {

        height: 100%;

        .columns {

            height: 100%;
            margin: 0;

            .introduction {
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: rgba(0, 0, 0, .5);
                padding: 1.5em;
                color: $white;
                font-weight: 400;
                letter-spacing: .05em;
            
                .claw {

                    position: relative;
                    bottom: 7em;
                    right: 2em;
                    height: 10em;
                    width: 3.125em;
                    margin-bottom: -10em;

                    line {

                        stroke: $green;
                        stroke-width: 4px;

                        &:last-child {
                            stroke-width: 2px;
                        }

                    }

                }

            }

            .definition-card {
                
                margin-top: 3em;
                margin-bottom: 6em;
                padding: 2em;
                background-color: rgba(240, 240, 240, .95);
                box-shadow: 0 0 10px rgba(0, 0, 0, .25);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: $light-black;
            
                img {
                    width: 60%;
                    margin: 4em 0;
                }

                .continue-button {
                    
                    margin: 2em 0;
                    border: 2px solid $green;
                    padding: 1em 2em;
                    color: $green;
                    text-transform: uppercase;
                    font-weight: 600;
                    letter-spacing: .15em;
                    transition: color .2s, background-color .2s;

                    &:hover {
                        color: $white;
                        background-color: $green;
                        cursor: pointer;
                    }

                    @at-root body:not(.mobile) & {
                        display: none;
                    }

                }

            }

        }

    }

}
