/*
*   Imports Bulma
*/

@import 'bulma/css/bulma.css';


/*
*   Imports fonts
*/

@import './fonts.css';


/*
*   Imports shared styles
*/

@import './shared.css';


/*
*   Imports page component styles
*/

@import './first-look.css';
@import './nav-menu.css';
