/*
*   Imports Bulma
*/

@import 'bulma/css/bulma';


/*
*   Imports fonts
*/

@import './fonts';


/*
*   Imports shared styles
*/

@import './shared';
@import './overlay';


/*
*   Imports page component styles
*/

@import './first-look';
@import './nav-menu';
@import './who-we-are';
@import './services';
@import './the-difference';
@import './our-work';
@import './footer';
@import './team';
@import './contact';
