/*
*   Nav menu styles
*/

#nav-menu {
    
    position: relative;
    margin-top: -3em;
    padding-top: 0;
    padding-bottom: 0;

    @media (max-width: 768px) {
        margin-top: 0;
    }

    & ul {
        
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 5em;
        padding: 0 2em;
        background-color: var(--green);
        color: white;
        text-transform: uppercase;
        letter-spacing: .1em;
        font-weight: lighter;

        @media (max-width: 1000px) {
            font-size: .9em;
            padding: 0 1em;
        }
    
        & .home {
            font-size: 1.5em;
        }

        & .separator {
            width: 0;
            height: 2em;
            overflow: hidden;
            border-right: 1px solid white;
        }

    }

    & .mobile {

        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;

        & ul {

            height: 100vh;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding-left: 2em;
            padding-right: 4em;
            box-shadow: inset 0 0 5px var(--medium-grey);
            font-size: .9;

            & .separator {
                width: 3em;
                height: 0;
                overflow: hidden;
                border-bottom: 2px solid white;
                margin: -.5em 0 3em 0;
            }

            & li {
                margin: 1em 0;
            }

        }

        & .open-button,
        & .close-button {
            position: absolute;
        }

        & .open-button {
            width: 50px;
            height: 50px;
            top: 0;
            right: 100%;
            box-shadow: inset 0 0 5px var(--medium-grey);
            background-color: var(--green);
            opacity: 1;
            transition: opacity .25s;
        }

        @nest body.overlay-open & .open-button {
            opacity: 0;
        }

        & .close-button {
            width: 25px;
            height: 25px;
            top: 25px;
            right: 25px;
        }

    }

}
