/*
*   Standard transition duration
*/

:root {
    --duration: .5s;
}


/*
*   Styles for showing and hiding overlays
*/

body {

    &::after {
        content: '';
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        visibility: hidden;
        opacity: 0;
        transition: opacity var(--duration), visibility 0s var(--duration);
    }

    &.loading-finished.coordinated-overlay-open {
        
        overflow: hidden;

        &::after {
            visibility: visible;
            opacity: .5;
            transition: opacity var(--duration);
        }

    }

    & .coordinated-overlay {

        &.transition-slide-right {

            visibility: hidden;
            transform: translateX(-100%);
            transition: transform var(--duration), visibility 0s var(--duration);

            &.coordinated-overlay-open {
                visibility: visible;
                transform: translateX(0);
                transition: transform var(--duration);
            }

        }

        &.transition-slide-left {

            transform: translateX(100%);
            transition: transform var(--duration);

            &.coordinated-overlay-open {
                transform: translateX(0);
                transition: transform var(--duration);
            }

        }

    }

}
