/*
*   Site style constants
*/

:root {
    --green: #49be9f;
    --light-black: #333;
    --dark-white: #ddd;
    --medium-grey: #888;
    --sans-serif: Montserrat, sans-serif;;
    --dictionary-serif: Times New Roman, serif;
}


/*
*   Styles for the site that are shared between components.
*/

/*
*   Site shared styles
*/

body {
    font-family: var(--sans-serif);
    font-size: 16px;
    color: var(--light-black);
}

section {
    
    padding: 6em 8em;
    overflow: hidden;

    @media (max-width: 600px) {
        padding: 4em;
        font-size: .85em;
    }

    @media (max-width: 400px) {
        padding: 4em 2em;
    }

    &.wide {
        
        padding: 4em;

        @media (max-width: 400px) {
            padding: 2em;
        }

        & .fluid-container {
            max-width: 1200px;
        }
    
    }

}

.fluid-container {
    
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

}

p {
    font-size: .9em;
    max-width: 600px;
    letter-spacing: .025em;
}

a {

    color: inherit;
    transition: opacity .2s;

    &:hover {
        color: inherit;
        opacity: .9;
    }

}

h1 {
    font-size: 2em;
    color: var(--green);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    line-height: 1;
    margin-bottom: 1em;
}

h2 {

}

h3 {
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: .05em;
    color: var(--green);
}

h4 {
    font-size: 1.05em;
    letter-spacing: .1em;
}

h5 {
    font-size: .95em;
    letter-spacing: .025em;
}

h6 {
    font-size: .85em;
    letter-spacing: .05em;
}

h5 > em,
h6 > em {
    font-family: var(--dictionary-serif);
}

.custom-button {

    border: 2px solid var(--green);
    padding: 1em 2em;
    text-align: center;
    color: var(--green);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .15em;
    transition: color .2s, background-color .2s;

    &:hover {
        color: white;
        background-color: var(--green);
        cursor: pointer;
    }

}
