/*
*   Site style constants
*/

:root {
    --green: #49be9f;
    --light-black: #333;
    --dark-white: #ddd;
    --medium-grey: #888;
    --sans-serif: Montserrat, sans-serif;;
    --dictionary-serif: Times New Roman, serif;
}


/*
*   Styles for the site that are shared between components.
*/

body {
    font-family: var(--sans-serif);
    font-size: 16px;
    color: var(--light-black);
}

.section {
    padding: 3em;
}

.container.is-fluid {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

a {

    color: inherit;
    transition: opacity .2s;

    &:hover {
        color: inherit;
        opacity: .9;
    }

}

h1 {
    font-size: 3em;
    color: var(--green);
    text-transform: uppercase;
    letter-spacing: .1em;
}

h2 {

}

h3 {

}

h4 {
    font-size: 1.05em;
    letter-spacing: .1em;
}

h5 {
    font-size: .95em;
    letter-spacing: .025em;
}

h6 {
    font-size: .85em;
    letter-spacing: .05em;
}

h5 > em,
h6 > em {
    font-family: var(--dictionary-serif);
}