/*
*   Team styles
*/

#team {

    padding-bottom: 0;

    & ul {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        & li {

            position: relative;
            width: 25em;
            margin: 0 2em 2em 2em;
            cursor: pointer;

            @media (max-width: 400px) {
                margin: 0 0 2em 0;
            }

            & .image {
                width: 100%;
                padding-bottom: 100%;
                background-size: cover;
                background-position: center;
                transition: opacity .2s;
            }

            &::after {
                
                content: 'Read Bio';
                display: block;
                position: absolute;
                top: 12.5rem;
                transform: translateY(-50%);
                right: -.5em;
                width: 50%;
                font-size: 3.5em;
                text-transform: uppercase;
                line-height: 1.25;
                font-weight: 600;
                color: var(--green);
                letter-spacing: .1em;
                text-align: right;
                opacity: 0;
                transition: opacity .2s;
            
                @media (max-width: 600px) {
                    width: 100%;
                    height: 100%;
                    top: 1em;
                    right: 0;
                    transform: none;
                    text-align: center;
                }

            }

            &:hover {

                & .image {
                    opacity: .25;
                }

                &::after {
                    opacity: 1;
                }

            }

            & .text {

                margin: 1em .75em;
                border-right: 2px solid var(--green);
                padding: .1em 1em;
                text-align: right;
                color: var(--green);

                & .name {
                    margin-bottom: .5em;
                    font-weight: 700;
                    letter-spacing: .05em;
                    text-transform: uppercase;
                }

                & .position {
                    font-size: .8em;
                    letter-spacing: .1em;
                }

            }

            & .bio-overlay {
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                position: fixed;
                overflow-y: scroll;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                padding: 2em;
                z-index: 1;
                background-color: var(--green);
                color: white;

                & .close-button {
                    width: 2.5em;
                    height: 2.5em;
                    margin: 0 auto 2.5em auto;
                }

                & .name {
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 1.25em;
                    letter-spacing: .05em;
                }

                & .position {
                    font-size: .9em;
                    letter-spacing: .1em;
                }

                & .bio {
                    margin-top: 2em;
                }

            }

        }

    }

}
