/*
*   The Left Goat Difference styles
*/

#the-difference {

    background-color: var(--green);
    color: white;
    position: relative;
    overflow: hidden;

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 40%;
        width: 100%;
        height: 100%;
        background-image: url('../images/the-difference-background.svg');
        background-repeat: no-repeat;
        background-size: 100% 135%;
        background-position: center;
        opacity: .25;
    }

    & h1 {
        color: white;
    }

}
