
/*
*   First Look styles
*/

#first-look {

    @include container;

    height: calc(100vh - 60px);
    position: relative;
    overflow: visible;
    background-image: url('../images/goat-hero.jpg');
    background-size: cover;
    background-position: center;
    margin-bottom: 25px;

    @include large {
        padding-top: 0;
        padding-bottom: 0;
    }

    @include xlarge {
        font-size: 1.25em;
    }

    .contact-info {

        display: none;
        position: absolute;
        top: 50%;
        left: 25px;
        height: 50px;
        padding: 0 15vh;
        border-bottom: .5px solid #e6e6e6;
        transform: translate(-50%, -50%) rotate(270deg);
        font-size: .65em;
        line-height: 50px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #e6e6e6;
        text-shadow: 0 1px 10px #000;

        @include large {
            display: block;
        }

        .separator {
            margin: 0 1em;
        }

    }

    .introduction {

        @include container;
        @include position(large, 1);
        @include width(large, 6);

        position: absolute;
        height: 185px;
        bottom: 0;
        left: 0;
        overflow: visible;
        background-color: rgba(0, 0, 0, .5);

        @include small {
            padding-top: 0;
            padding-bottom: 0;
        }

        @include large {

            height: 100%;
            padding-left: 10px;
            padding-right: 10px;
            background-clip: content-box;

            @include vert-center;

            @at-root .lazily-load#{&} {

                opacity: 0;
                transform: scale(1.1);

                @at-root .loaded#{&} {
                    opacity: 1;
                    transform: none;
                    transition: opacity .5s, transform .5s;
                }

            }

        }

        .introduction-inner {

            @include position(small, 2);
            @include no-position(large);

            height: 100%;

            @include large {
                height: auto;
                padding-left: 25px;
                padding-right: 25px;
                position: relative;
            }

            .claw {

                position: absolute;
                left: -25px;
                bottom: -25px;
                height: 10em;
                width: 3.125em;

                @include large {
                    left: -10px;
                    bottom: auto;
                    top: .4em;
                }

                line {

                    stroke: $green;
                    stroke-width: 4px;

                    &:last-child {
                        stroke-width: 2px;
                    }

                }

            }

            h1 {

                color: $green;
                margin-top: 1em;
                margin-bottom: .25em;
                line-height: 1.5;

                @include large {
                    line-height: 1;
                    margin-top: 0;
                    margin-bottom: .25em;
                    font-size: 3em;
                }

            }

            .tagline {

                color: #fff;
                text-transform: lowercase;
                font-size: .7em;
                line-height: 1.4;
                letter-spacing: 1px;

                @include large {
                    font-size: .85em;
                }

            }

        }

    }

    .goat-noun {

        position: fixed;
        top: 25px;
        left: 25px;
        right: 25px;
        bottom: 25px;
        background-color: rgba(230, 230, 230, .95);
        box-shadow: 0 0 10px rgba(0, 0, 0, .25);

        @media (min-width: 400px) { font-size: 1.25em; }
        @media (min-width: 600px) { font-size: 1.5em; }
        @media (min-width: 800px) { font-size: 1.75em; }

        @include width(large, 4);

        @include small {

            @at-root .lazily-load#{&} {

                opacity: 0;
                transition: none;

                @at-root .loaded#{&} {
                    opacity: 1;
                    transition: opacity .5s;
                }

            }

        }

        @include large {

            position: relative;
            font-size: 1em;
            height: calc(100% - 150px);
            top: 50px;
            left: auto;
            bottom: auto;
            right: auto;
            float: right;
            visibility: visible;
            opacity: .95;

            @at-root .lazily-load#{&} {

                opacity: 0;
                transform: translateX(25%);
                transition: none;

                @at-root .loaded#{&} {
                    opacity: 1;
                    transform: none;
                    transition: opacity .5s, transform .5s;
                }

            }

        }
        
        .goat-noun-inner {

            width: 15em;
            padding: 2em;
            color: $dark-grey;
            font-size: 16px;
            position: absolute;
            top: 50%;
            left: 50%;
            text-align: center;
            transform: translate(-50%, -50%);
            transform-origin: top left;

            @include medium {
                width: 20em;
                padding: 5em;
            }

            .text {
                font-size: .9em;
                letter-spacing: .1em;
            }

            .pronunciation {
                font-size: .8em;
                letter-spacing: .05em;
            }

            %curly-text {
                font-family: 'essonnes-display', sans-serif;
                font-style: italic;
                font-weight: 400;
                letter-spacing: .05em;
            }

            .part-of-speech {
                @extend %curly-text;
                font-size: .75em;
            }

            .logo {
                background-image: url('../images/logo.svg');
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                height: 10em;
                margin: 4em 0;
            }

            .description {
                @extend %curly-text;
                font-size: .8em;
            }

            .continue-button {

                margin: 2em auto 0 auto;
                width: 12em;
                color: $green;
                padding: 1em 0;
                border: 2px solid $green;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: .75em;
                cursor: pointer;
                transition: background-color .25s, color .25s;

                @include large { display: none; }

                &:hover {
                    background-color: $green;
                    color: #fff;
                }

            }

        }

    }

}
