/*
*   The Left Goat Difference styles
*/

#the-difference {

    @include container;

    background-color: #49be9f;
    color: #fff;
    position: relative;
    overflow: hidden;

    > * {
        @include position(large, 1);
        @include width(large, 7);
    }

    &::before {

        content: '';
        position: absolute;
        height: 130%;
        width: 800px;
        top: -5%;
        left: 200px;
        background-image: url('../images/the-difference-background.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center left;
        opacity: .1;

        @at-root .lazily-load#{&} {

            opacity: 0;
            transform: translateX(25%);

            @at-root .loaded#{&} {
                opacity: .1;
                transform: translateX(0);
                transition: opacity 1s, transform 1s;
            }

        }

        @include large {

            left: auto;
            right: -250px;
            background-size: cover;

        }

    }

    h2 {

        @at-root .lazily-load#{&} {

            opacity: 0;

            @at-root .loaded#{&} {
                opacity: 1;
                transition: opacity .5s;
            }

        }

    }

    .text {

        font-size: .8em;
        margin-top: 3em;

        @at-root .lazily-load#{&} {

            opacity: 0;

            @at-root .loaded#{&} {
                opacity: 1;
                transition: opacity .5s .25s;
            }

        }

    }

}
